/*Helvetica 45 Light (11pt.) para titulos
 7pt para titulos das peças*/
/*
 header h1{
    font-family: Arial, Helvetica, sans-serif;
    font: 11px;
    font-weight: lighter;
 }*/
 
  body{ margin: 0; padding: 0;box-sizing: border-box;}
 .header{max-width: 1040px;height: 100px; margin: auto;display: flex; color: white; align-items: center;}
 .logoimg {margin-top: 40px;width: 200px; height: 79px;background-image: url('./images/logo-branco.png'); }
 .mlogo{ background-image: url('./images/LOGO-OFOCIAL-MH-02-09-2020-1-300x300.png'); margin-top: 200px; width: 300px; height: 200px; margin-left: 150px; }
 .mlogo1{margin-top: 200px; width: 200px; height: 79px; background-image: url('./images/logo-branco.png'); margin-left: 60px;}
  header { height: 350px; background-image: url("./images/Mondocabeçario.jpg"); background-size: cover; }
 .menu ul, .menu li{ list-style: none; }
 .menu{ flex: 1; display: flex; justify-content: flex-end; }
 .menu ul{ display: flex; }
 .menu li a { color: #fff; text-transform: uppercase; font-weight:lighter; text-decoration: none; padding-left: 5px; padding-right: 5px; font-size: 18 px; }

.slider{
   overflow: hidden;
    flex: 1;
    height: 350px;
    
}
.slider--width{
    
    height: 100%;
    display: flex;
    
}
.slider--item{
    
    width: 30vw;
    height: inherit;
    background-size: cover;
    background-position: center;
   
}

.controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.control{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}



