/*Helvetica 45 Light (11pt.) para titulos
 7pt para titulos das peças*/
/*
 header h1{
    font-family: Arial, Helvetica, sans-serif;
    font: 11px;
    font-weight: lighter;
 }*/

 body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 header {
     height: 400px;
     background-image: url("./images/Mondocabeçario.jpg") ;
     background-size: cover;
  
     
 }
 .header{
     max-width: 1040px;
     height: 100px;
     margin: auto;
     display: flex;
     color: white;
     align-items: center;



 }
 .logoimg {
     margin-top: 40px;
     width: 200px;
     height: 79px;
     background-image: url('./images/logo-branco.png');
 }
 .menu ul,
 .menu li{
     list-style: none;
 }
 .menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
 }
 .menu ul{
     display: flex;
 }
 .menu li a {
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     text-decoration: none;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 20px;

 }